<section class="about-us-main">
        <div class="container">
            <h1>Our team delivers cutting-edge solutions paired with <span>exceptional expertise.</span> </h1>
            <p>Native Solutions, a premier full-app-lifecycle software development company that was founded in 2012, specializes in creating web apps. The company's services include ideation, prototyping and design, project management, development, QA testing, and support.</p>
            <a  href="mailto:Info@nativesolutionsfze.com" class="gray">
                Talk to our expert
            </a>
        </div>
</section>
<section class="container text-center py-5" >
    <img src="assets/Illustration.png" class="img-fluid mb-5" alt="">
    <img src="assets/Company logo.png" class="img-fluid" alt="">
</section>
<section class="driving container py-5">
    <h2>Driving Our Purpose: <br> The Mission at <span>Our Core</span></h2>
    <p>Our mission is to innovate and collaborate to create impactful solutions that empower people and shape a better future.</p>
       <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="main-article">
                    <div class="icon">
                   <i class="fas fa-feather-alt"></i>
                    </div>
                    <h3>Our Mission</h3>
                    <p>We are a dedicated partner, delivering cutting-edge design and development solutions tailored for funded startups, tech-focused SMEs, and Fortune 500 enterprises.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="main-article mob">
                    <div class="icon">
                 <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <h3>Our Vission</h3>
                    <p>We are a comprehensive digital product agency, creating and evolving exceptional projects through human-centered design, trusted by leading global companies.</p>
                </div>
            </div>
        </div>
</section>
<section class="driving container py-5">
    <h2>Core Values: Empowering <br> People, Driving Growth</h2>
    <p>Our foundation is built on three pillars: people, awareness, and growth. These elements form an interconnected value system that drives our success.</p>
       <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="main-article">
                    <div class="icon">
                  <i class="fas fa-chart-bar"></i>
                    </div>
                    <h3>Growth</h3>
                    <p>Constantly working on improving our skills and knowledge base, so that we can continue to provide the best service to our clients, with the best quality and results.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="text-center">
                    <img class="img-fluid" src="assets/one.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="main-article mob">
                    <div class="icon">
           <i class="fas fa-headphones"></i>
                    </div>
                    <h3>Strategic Design Approach</h3>
                    <p>Constantly working on improving our skills and knowledge base, so that we can continue to provide the best service to our clients, with the best quality and results.</p>
                </div>
            </div>
                  <!-- <div class="col-lg-4 mb-4">
                <div class="main-article">
                    <div class="icon">
              <i class="fas fa-headphones"></i>
                    </div>
                    <h3>Clear & open Communication</h3>
                    <p>Constantly working on improving our skills and knowledge base, so that we can continue to provide the best service to our clients, with the best quality and results.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="text-center">
                    <img class="img-fluid" src="assets/one.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="main-article mob">
                    <div class="icon">
           <i class="fas fa-headphones"></i>
                    </div>
                    <h3>Strategic Design Approach</h3>
                    <p>Constantly working on improving our skills and knowledge base, so that we can continue to provide the best service to our clients, with the best quality and results.</p>
                </div>
            </div> -->
        </div>
</section>