<section class="main">
    <div class="container text-center">
        <div class="bg"></div>
        <div class="content">
            <h1>Imagination Meets <br> <span>Innovation</span></h1>
            <p>We craft digital experiences from idea to launch — blending strategy, design, <br> and engineering to
                build products that performs.</p>
            <div style="display: flex;gap:16px;flex-wrap: wrap;justify-content: center;">
                <a  href="mailto:Info@nativesolutionsfze.com">Get in touch</a>
                <!-- <button></button> -->
            </div>
        </div>
    </div>
</section>
<section class="discover">
    <div class="container">
        <h2>Discover Our Digital <br> <span>Solutions</span></h2>
        <p class="main-desc">At Native Solutions, we create bold, user-focused designs that elevate your brand and
            digital presence.</p>
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="main-article">
                    <div class="icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <h3>Web Applications & Platforms</h3>
                    <p>Help you to build scalable web systems, dashboards, portals, and enterprise platforms.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="main-article mob">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <h3>Mobile Application Development</h3>
                    <p>iOS & Android apps for businesses, internal teams, and customers..</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="with-img">
                    <div style="background: #3273241A;" class="text-center ">
                        <img class="img-fluid" src="assets/card1.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Custom Software Development</h3>
                        <p>Tailor-made systems built around specific business processes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="with-img">
                    <div class="text-center ">
                        <img class="img-fluid" src="assets/card2.png" alt="">
                    </div>
                    <div class="text">
                        <h3>System Integration & APIs</h3>
                        <p>Integrating ERP, mobile apps, third-party services, and legacy systems.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="with-img">
                    <div class="text-center ">
                        <img class="img-fluid" src="assets/Screenshot 2026-02-07 130839.png" alt="">
                    </div>
                    <div class="text">
                        <h3>ERP Solutions</h3>
                        <p>Custom ERP systems for finance, operations, inventory, HR, and reporting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-4">
                <div class="main-article">
                    <div class="icon">
                        <i class="fas fa-draw-polygon"></i>
                    </div>
                    <h3>Application Modernisation</h3>
                    <p>Application modernisations helps organizations run faster, innovate more easily, and reduce
                        technical debt.</p>
                </div>
            </div>
            <div class="col-lg-7 mb-4">
                <div class="main-article ai">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h3>AI Transformation</h3>
                    <p>AI transformation moves AI from isolated use cases into the core of how the business operates and
                        competes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inside">
    <div class="container">
        <h2>
            Inside native <span>solutions</span> : Our Story <br> of Creative Innovation
        </h2>
        <p class="main-desc">At Native Solutions, we create bold, user-focused designs that elevate your brand and
            digital presence.</p>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="row numbers h-100">
                    <div class="col-md-6 mb-4">
                        <div class="parent text-center text-md-start">
                            <p class="number">100+</p>
                            <p class="title">Satisfied Customers</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="parent text-center text-md-start">
                            <p class="number">30+</p>
                            <p class="title">Years of Experience</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <div class="parent text-center text-md-start">
                            <p class="number">10+</p>
                            <p class="title">Award Winning</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <div class="parent text-center text-md-start">
                            <p class="number">1000+</p>
                            <p class="title">Features Collections</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="h-100 right">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div>
                                <h3>How Native SolutionsWorks</h3>
                                <p>Wondering how we turn your concept into a robust application? This section breaks
                                    down our step-by-step development process.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div>
                                <ul>
                                    <li>
                                        <img src="assets/Icon.png" alt="">
                                        <p>Discover</p>
                                    </li>
                                    <li>
                                        <img src="assets/Icon2.png" alt="">
                                        <p>Design</p>
                                    </li>
                                    <li>
                                        <img src="assets/Icon3.png" alt="">
                                        <p>Develop</p>
                                    </li>
                                    <li>
                                        <img src="assets/Icon4.png" alt="">
                                        <p>Launch & Grow</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="clients">
    <div class="container">
        <h2>What our <span>clients</span> are saying</h2>
            <p-carousel
                    [value]="menu"
                    [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsive">
                    <ng-template let-product pTemplate="item">
                        <div>
                            <p class="bd">{{product?.text1}}</p>
                            <p class="gray">{{product?.text2}}</p>
                        </div>
                    </ng-template>
                </p-carousel>
    </div>
</section> -->
<section class="business">
    <div class="container">
        <h2>Take your business to the <br> next level.</h2>
        <p>We're here to bring your concept to life, manage your ongoing project, or expand your existing development
            team.</p>
        <a href="mailto:Info@nativesolutionsfze.com">Let’s work together <i class="fas fa-external-link-alt"></i></a>
    </div>
</section>