section.main {
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Inter Tight;
        font-weight: 500;
        font-style: Medium;
        font-size: 100px;
        line-height: 120px;
        letter-spacing: -2.34px;
        text-align: center;
        vertical-align: middle;
        color: #14141E;

        span {
            color: #784723
        }
    }

    p {
        font-family: Inter Tight;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        text-align: center;
        vertical-align: middle;
        color: #3C3C3C
    }
    button {  
padding-top: 14px;
padding-right: 20px;
padding-bottom: 14px;
padding-left: 20px;
border-radius: 99px;
box-shadow: 0px 2px 4px 0px #0307120F;
background-color: #327324;
color: white;
font-family: Inter Tight;
font-weight: 500;
font-style: Medium;
font-size: 16px; 
line-height: 22px;
letter-spacing: -1.5%;
border: none;
    }
    button:last-of-type {
        background-color: #FCFCFC;color: black;
    }
}