/* ----------- */
nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav .nav-link {
    color: #1A1A1A;
    font-family: Inter Tight;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 130%;
letter-spacing: -2%;
text-align: center;

}
nav .nav-link.active {
    color: #79471F !important; 
}
nav a.gray {
background-color: #327324;
padding-top: 14px;
padding-right: 20px;
padding-bottom: 14px;
padding-left: 20px;
border-radius: 99px;
cursor: pointer;
color: white;
font-family: Inter Tight;
font-weight: 500;
font-style: Medium;
font-size: 16px; 
line-height: 22px; 
}
@media (max-width: 992px) {
    nav {
        background-color: #E6E6E6;
    }
}

nav.navbar-white {
    background-color: #E6E6E6;
}

/*  */