footer {
background: #080807;
padding-top: 50px;
padding-bottom: 40px;
gap: 40px;
border-top-left-radius: 48px;
border-top-right-radius: 48px;

}
footer img {
    margin-bottom: 16px;
}
footer .desc {
    font-family: Inter Tight;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px; 
    line-height: 21px;
    letter-spacing: 0.5px;
    color: white;
}
footer .gray {
   color: #808898;
   font-family: Inter Tight;
font-weight: 400;
font-style: Regular;
font-size: 14px;  
line-height: 130%;
letter-spacing: -1%;

}



footer h2 {
  font-family: Inter Tight;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px; 
line-height: 130%;
letter-spacing: -2%; 
color: white;
}

footer li a {
font-family: Inter Tight;
font-weight: 400;
font-style: Regular;
font-size: 16px; 
line-height: 130%;
letter-spacing: -2%;
margin-bottom: 10px;
    color: #A3ACB9; 
display: inline-block;
}

 

