<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <div>
                    <img class="img-fluid" src="assets/image 2.png"
                        alt="Native Solutions">
                    <p style="margin-bottom: 32px;" class="desc">We craft digital experiences from idea to launch —
                        blending strategy, design, and
                        engineering to build products that performs.</p>
                    <p style="margin-bottom: 20px;" class="desc">Info@nativesolutionsfze.com 
                        <!-- <br>+966 5X XXX XXXX -->
                    </p>
                    <p class="gray mb-0">© 2026 Native Solutions All Rights Reserved</p>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-2 mb-2">
                <div>
                    <h2>Solutions</h2>
                    <ul>
                        <li><a>Mobile Application Development</a></li>
                        <li><a>Web Applications & Platforms</a></li>
                        <li><a>ERP Solutions</a></li>
                        <li><a>Custom Software Development</a></li>
                        <li><a>System Integration & APIs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 mb-2">
                <div>
                    <h2>Others</h2>
                    <ul>
                        <li><a routerLink="/about-us">About Us</a></li>
                        <!-- <li><a>Our Works</a></li>
                        <li><a> Careers</a></li>
                        <li><a>Blogs</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-2 mb-2">
                <div>
                    <h2>Support</h2>
                    <ul>
                        <li><a>Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 mb-2">
                <div>
                    <h2>Legal</h2>
                    <ul>
                        <li><a>Terms & Conditions</a></li>
                        <li><a>Privacy Policy</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>