@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
    box-sizing: border-box;
 
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}